body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #fafafa;
}

#loginPage, #adminPage, #profileBox {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background: #ddd;
}

.customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    background: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.customer-item span {
    white-space: nowrap;
}

.btn-group {
    display: flex;
    gap: 8px;
}

.btn-group button {
    padding: 6px 10px;
    font-size: 14px;
    white-space: nowrap;
}

.add-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

#qrcode {
    margin: 20px auto;
}